// 
// Adineue PRO Cyr Light Web
// 
@font-face {
    font-family: 'adineue PRO Cyr Light Web';
    src: url('../fonts/adineuePROCyr-LightWeb/adineuePROCyr-LightWeb.eot');
    src: url('../fonts/adineuePROCyr-LightWeb/adineuePROCyr-LightWeb.eot?#iefix') format('embedded-opentype'),
        url('../fonts/adineuePROCyr-LightWeb/adineuePROCyr-LightWeb.woff2') format('woff2'),
        url('../fonts/adineuePROCyr-LightWeb/adineuePROCyr-LightWeb.woff') format('woff'),
        url('../fonts/adineuePROCyr-LightWeb/adineuePROCyr-LightWeb.ttf') format('truetype'),
        url('../fonts/adineuePROCyr-LightWeb/adineuePROCyr-LightWeb.svg#adineuePROCyr-LightWeb') format('svg');
    font-weight: 300;
    font-style: normal;
}