// My own mixins
@mixin media-screen($size, $direction) {
	@media screen and (#{$direction}: $size){ @content; }
}

@mixin section($background-color, $section-padding-top, $section-padding-bottom) {
	background: {
		color: $background-color;
	}
	padding-top: $section-padding-top;
	padding-bottom: $section-padding-bottom;
	@include media-screen(375px, max-width) {
		padding-top: $section-padding-top * 0.8;
		padding-bottom: $section-padding-bottom * 0.8;
	}
}

@mixin text($font-size: $font-size-base,$font-style: normal, $text-transform: none, $color: $white) {
	font: {
		size: $font-size;
		style: $font-style;
	}
	text-transform: $text-transform;
	color: $color;
}

@mixin line($width, $height, $background-color, $top) {
	display: inline-block;
	width: $width;
	height: $height;
	background: $background-color;
	margin-top: 8px;
	margin-bottom: 8px;
	position: absolute;
	top: $top;
	left: 0;
}

@mixin img($background-image, $background-size, $background-position, $background-repeat) {
	background: {
		image: $background-image;
		size: $background-size;
		position: $background-position;
		repeat: $background-repeat;
	}
}

@mixin button($width, $height, $background-color, $border-color, $color, $font-weight, $margin-top){
	display: inline-block;
	width: $width;
	height: $height;
	background-color: $background-color;
	outline: 0 !important;
	cursor: pointer;
	border: 1px solid $border-color;
	color: $color;
	font-weight: $font-weight;
	text-decoration: none;
	text-transform: uppercase;
	padding: 15px;
	margin-top: $margin-top;
	transition: color 0.8s ease-out, background-color 0s;
}

@mixin icon-link($background-color: $gray-900, $border-color: $white, $text-align: center, $padding: 0, $margin: 0){
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: $background-color;
	border: 2px solid $border-color;
	text-align: $text-align;
	text-decoration: none;
	cursor: pointer;
	padding: $padding;
	margin: $margin;
}

@mixin icon($font-size, $color){
	font-size: $font-size;
	color: $color;
}