$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icomoon" !default;

$icon-cheveron: "\e900";
$icon-close: "\e901";
$icon-bars: "\e902";
$icon-github: "\f09b";
$icon-linkedin: "\e903";
$icon-facebook: "\f09a";
$icon-skype: "\f17e";
$icon-telegram: "\f2c6";

